/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Reset */

/* Begin CSS Code */

html, body {
    /* height: 100%; */
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bangers', cursive;
}

/*Nav bar*/

.index-nav-parent {
	display: flex;
	align-items: center;
	margin: 2% 0 0 3%;
}

.index-nav-child-text {
	width: 75%;
}

.index-nav-child-text a {
	text-decoration: none;
	color: gray;
	margin: 0 3.7%;
}

/* Header */
.index-header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 50px;
}

.index-header-text {
	font-size: 60px;
	text-align: center;
}

.index-header-text button {
	background: white;
	border: 2px solid black;
	padding: 5px 30px;
}

/* Top Content */
.index-main-content {
	border-top: 2px solid black;
	margin-top: 60px;
}

.top-content {
	display: flex;
	justify-content: space-evenly;
}

.top-text-content h4 {
	margin: 20px 0;
}
.top-text-content {
	width: 46%;
	margin: 35px 0;
}

.index-main-content .middle-img {
	display: flex;
	width: 100vw;
}

/* Bottom Content */
.bottom-content {
	display: flex;
	justify-content: space-evenly;
	border-bottom: 2px solid black;
}

.bottom-text-content {
	width: 30%;
	margin: 30px 0
}

/* Contact */
.contact {
	margin-left: 2%;
}

.contact h4 {
	margin-top: 30px;
}

/* Footer */
footer p {
	text-align: center;
	margin-top: 30px;
}

@media(max-width: 800px) {
	.index-header-image {
		display: none;	
	}
	.index-header {
		justify-content: center;
	}

	.index-nav-parent .logo {
		margin-top: 30px;
	}
	.index-nav-parent {
		flex-direction: column-reverse;
		justify-content: center;
		margin: 0;
	}
	.index-nav-child-text {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		margin-top: 30px;
	}
	.index-nav-child-text a {
		margin: 0 auto;
	}
}

@media(max-width: 500px) {
	.index-nav-child-text {
		flex-direction: column;
	}
	.index-nav-child-text a {
		border-top: 1px solid gray;
		width: 100vw;
		text-align: center;
		font-size: 20px;
		padding: 15px;
		margin: 0;
	}
	.index-nav-child-text a:last-child {
		border-bottom: 1px solid gray;
	}
}
